# CMake gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# C++ gitignore
*.exe
*.elf
*.self
*.pkg
*.bin
*.o
*.a
*.d
*.so
*.dll
*.task
*.elf.map

# Ignore any compiled shaders
*.fpo*
*.vpo*

# Ignore build folders
build/
out/
.vs/
.vscode/