[submodule "sdk/discord-rpc"]
	path = sdk/discord-rpc
	url = https://github.com/discord/discord-rpc.git
[submodule "sdk/minhook"]
	path = sdk/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "sdk/fmt"]
	path = sdk/fmt
	url = https://github.com/fmtlib/fmt.git
